.title {
  margin: 1em 0;
}
.viewCount {
  color: gray;
  font-size: 0.9rem;
}

.divide {
  border: thin 0.5px;
  margin: 1rem 0;
  opacity: 0.5;
}

.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.channelInfo {
  display: flex;
  align-items: center;
}

.channelThumnails {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.channelTitle {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.subscribe {
  padding: 0.7rem 1.3rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #cc0000;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}

.subscribe:hover {
  background-color: rgb(197, 197, 197);
}

.tag {
  font-size: 0.9rem;
  color: #5980d5;
  margin-bottom: 5rem;
}
