.LandingPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  height: 100vh;
  background-color: #ededed;
}

.bg {
  width: 16rem;
  height: 16rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 0.5em 0;
  width: 100%;
  margin-bottom: 0.2em;
  background-color: white;
}

.bar_left {
  display: flex;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
}

.bar_right {
  display: flex;
}

.icon {
  color: #33cc66;
  transition: 300ms ease-in-out;
}

.icon:hover {
  color: rgb(0, 134, 64);
}

.github {
  margin-right: 1em;
}

.geo {
  color: #33cc66;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.des_video {
  margin-left: 0.2em;
  color: #33cc66;
}

.mainPage {
  font-size: 1.4em;
  margin-top: 0.5em;
  transition: 300ms ease;
}

.mainPage:hover {
  color: rgb(0, 134, 64);
  cursor: pointer;
  transform: scale(1.05);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 40rem;
  padding: 2.5em;
  background-color: white;
  border-radius: 5em;
}

.input {
  flex: 1 1 70%;
  padding: 1.3rem;
  border-radius: 3em;
  margin-right: 0.5em;
  font-size: 1rem;
  border: solid 2px #33cc66;
  outline: none;
}

.search_btn {
  outline: none;
  cursor: pointer;
  flex: 1 1 30%;
  padding: 1.3em;
  border-radius: 3em;
  background-color: #33cc66;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  transition: 100ms ease-in-out;
}

.search_btn:hover {
  background-color: rgb(0, 134, 64);
  transform: scale(0.97);
}

@media screen and (max-width: 48rem) {
  .navbar {
    font-size: 1rem;
  }
  .description {
    flex-direction: column;
  }

  .bg {
    width: 12rem;
    height: 12rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .search {
    width: 22rem;
  }

  .mainPage {
    font-size: 1rem;
  }
}
