.li {
  width: 26rem;
  margin: 1rem 0;
  cursor: pointer;
  padding: 0.5em 0.2rem;
}

.li:active {
  background-color: #dad1d1de;
}

.li.list {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0.2em;
}

.li.list .title {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.9rem;
}

.li.list .channelTitle {
  font-size: 0.8rem;
}

.li.list .thumbnails {
  width: 12rem;
  height: 100%;
}

.li.list :active {
  background-color: #dad1d1de;
}

.thumnails_box {
  position: relative;
}

.thumbnails {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Quicksand', sands-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  cursor: pointer;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.description {
  font-size: 1.5em;
}

.videoInfo {
  margin-top: 0.8em;
  padding: 0 0.8em;
}

.li.list .videoInfo {
  margin: 0;
  padding: 0 0.8em;
}

.title {
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 0.2em;
}

.channelTitle {
  font-size: 1rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(95, 95, 95);
}

@media screen and (max-width: 48rem) {
  .li {
    width: 18rem;
  }
}
