button {
  outline: none;
  border: none;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  height: 3.5rem;
}

.bar_left {
  display: flex;
  align-items: center;
}

.bar_logo {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.youtubeIcon {
  color: #33cc66;
  font-size: 2.5rem;
}

.geo {
  color: #33cc66;
}

.bar_search {
  display: flex;
  width: 40%;
  align-items: center;
  padding: 0.2rem 0.5rem;
  border: 1px solid lightgray;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.searchIcon {
  width: 100%;
  font-size: large;
  cursor: pointer;
}

.bar_right {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2rem !important;
  margin: 0 0.5rem;
  color: black;
  cursor: pointer;
}

.icon:hover {
  color: rgb(88, 88, 88);
}

.notificationIcon {
  margin-right: 0.5em;
}

.avatar {
  height: 2rem;
  border-radius: 50%;
  margin-left: 0.5em;
}

@media screen and (max-width: 48rem) {
  .header {
    padding: 1rem;
    width: 100%;
  }

  .input {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 0.8rem;
  }
  .bar_logo {
    display: flex;
    align-items: center;
    margin-left: 0.1em;
  }
}
