.ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.ul.list {
  flex-direction: column;
  padding-right: 5rem;
}

@media screen and (max-width: 100rem) {
  .ul.list {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 48rem) {
  .ul.list {
    flex-direction: column;
    padding-right: 0;
  }
}
